.userfront-toolkit {
  /* default style variables (light) */

  /* Outer container */

  /* Box shadow applied to the outer container */
  --userfront-container-box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  /* Box shadow of form, when hovered or active */
  --userfront-container-active-box-shadow: var(
    --userfront-container-box-shadow
  );

  /* Border radius of the outer container */
  --userfront-container-border-radius: 4px;

  /* Border style of the outer container */
  --userfront-container-border-color: #ebeef5;
  --userfront-container-border: 1px solid
    var(--userfront-container-border-color);

  /* Width of outer container */
  --userfront-container-width: auto;

  /* Max width of outer container */
  --userfront-container-max-width: 340px;

  /* Height of outer container */
  --userfront-container-height: auto;

  /* Max height of outer container */
  --userfront-container-max-height: unset;

  /* Margin of outer container */
  --userfront-container-margin: 0 auto;

  /* Padding of outer container */
  --userfront-container-padding: 2em 1.5em;

  /* Toolkit form globals */
  /* Default font size; scales entire form, since sizes are set with em units */
  --userfront-em-size: 14px;

  /* Overall spacing: padding of form, distance between inputs */
  --userfront-spacing: 1em;

  /* Font to be applied to the whole form */
  --userfront-font-family: Avenir, Helvetica, Arial, sans-serif;

  /* Background color of the form */
  --userfront-background-color: #ffffff;

  /* Default text and divider color of the form */
  --userfront-text-color: #303133;

  /* Muted text color, used for dividers */
  --userfront-divider-color: #ccc;

  /* Primary color of the form, for primary button background and highlights */
  --userfront-primary-color: #5e72e4;

  /* Hovered and active version of the primary color */
  --userfront-primary-color-active: #465ee4;

  /* Focused version of the primary color */
  --userfront-primary-color-focus: #374cc5;

  /* Disabled version of the primary color */
  --userfront-primary-color-disabled: #9da8e4;

  /* Text color to use on primary color backdrop */
  --userfront-primary-color-text: #ffffff;

  /* Secondary color, for secondary button background */
  --userfront-secondary-color: #ffffff;

  /* Hovered and active version of the secondary color */
  --userfront-secondary-color-active: #f2f5fa;

  /* Focus version of the secondary color */
  --userfront-secondary-color-focus: var(--userfront-secondary-color-active);

  /* Disabled version of the secondary color */
  --userfront-secondary-color-disabled: #7a8291;

  /* Text color to use on secondary color backdrop */
  --userfront-secondary-color-text: #606266;

  /* Logout button background color */
  --userfront-logout-color: #c72a2a;

  /* Hovered and active version of the logout color */
  --userfront-logout-color-active: #d84848;

  /* Focused version of the logout color */
  --userfront-logout-color-focus: var(--userfront-logout-color-active);

  /* Disabled version of the logout color */
  --userfront-logout-color-disabled: #ff8e8e;

  /* Text color to use on logout color backdrop */
  --userfront-logout-color-text: #ffffff;

  /* Link color, for subtle buttons and links */
  --userfront-link-color: #5e72e4;

  /* Error color, for text related to errors */
  --userfront-error-color: #c71717;

  /* Background color for error messages */
  --userfront-error-background-color: #fae3e3;

  /* Border color for error messages */
  --userfront-error-border-color: #f7dcdc;

  /* Color for informational update text */
  --userfront-info-color: var(--userfront-secondary-color-text);

  /* Background color for informational updates */
  --userfront-info-background-color: #e6ffe5;

  /* Border color for informational updates */
  --userfront-info-border-color: #edf4ec;

  /* Rounding for edges of buttons and inputs */
  --userfront-border-radius: 4px;

  /* Background color for text inputs */
  --userfront-input-background-color: #ffffff;

  /* Active and hovered background color for text inputs */
  --userfront-input-background-color-active: #f8f9fa;

  /* Text color for text inputs */
  --userfront-input-text-color: #606266;

  /* Input placeholder text color */
  --userfront-placeholder-color: #999;

  /* Active and hovered input placeholder text color */
  --userfront-placeholder-color-active: #999;

  /* Input border style */
  --userfront-input-border-color: #dcdfe6;
  --userfront-input-border: 1px solid var(--userfront-input-border-color);

  /* Active and hovered input border style */
  --userfront-input-border-active-color: #bcc1cf;
  --userfront-input-border-active: 1px solid
    var(--userfront-input-border-active-color);

  /* Focused input border style */
  --userfront-input-border-focus-color: #5e72e4;
  --userfront-input-border-focus: 2px solid
    var(--userfront-input-border-focus-color);

  /* Input border in error state */
  --userfront-input-border-error: 1px solid var(--userfront-error-color);

  /* Input font size */
  --userfront-input-font-size: 1em;

  /* Label text color */
  --userfront-label-text-color: var(--userfront-text-color);

  /* Label text color in error state */
  --userfront-label-text-color-error: var(--userfront-error-color);

  /* Label size */
  --userfront-label-font-size: 0.8em;

  /* Spacing between input and label */
  --userfront-label-spacing: 0.5em;

  /* Title font size */
  --userfront-title-font-size: 1.5em;

  /* Title font color */
  --userfront-title-text-color: var(--userfront-text-color);

  /* Form-level error message color */
  --userfront-error-text-color: var(--userfront-error-color);

  /* Form-level error message text size */
  --userfront-error-font-size: 1em;

  /* Primary and secondary button font size */
  --userfront-button-font-size: 1em;

  /* Subtle button font size */
  --userfront-subtle-button-font-size: 1em;

  /* Primary and secondary button height */
  --userfront-button-height: 2em;

  /* Primary and secondary button padding */
  --userfront-button-padding: 0.5em;

  /* Transform to apply on non-disabled button hover */
  --userfront-button-hover-transform: none;

  /* Button icon size - icons are always square */
  --userfront-button-icon-size: 2em;

  /* General toolkit alignment */
  --userfront-alignment: center;

  /* Label alignment, relative to attached input */
  --userfront-label-alignment: left;

  /* Secured by Userfront font size */
  --userfront-secured-font-size: 1em;

  /* Secured by Userfront font color */
  --userfront-secured-font-color: #666;

  /* Primary button border */
  --userfront-primary-button-border-color: transparent;
  --userfront-primary-button-border: none;

  /* Hovered or active primary button border */
  --userfront-primary-button-border-active-color: transparent;
  --userfront-primary-button-border-active: none;

  /* Focused primary button border */
  --userfront-primary-button-border-focus-color: #13a0ff;
  --userfront-primary-button-border-focus: 3px solid
    var(--userfront-primary-button-border-focus);

  /* Box shadow for primary button when hovered, active, focused */
  --userfront-primary-button-box-shadow-active: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  /* Secondary button border */
  --userfront-secondary-button-border-color: #cbceda;
  --userfront-secondary-button-border: 1px solid
    var(--userfront-secondary-button-border-color);

  /* Hovered or active secondary button border */
  --userfront-secondary-button-border-active-color: #bcc1cf;
  --userfront-secondary-button-border-active: 1px solid
    var(--userfront-secondary-button-border-active-color);

  /* Focused secondary button border */
  --userfront-secondary-button-border-focus-color: #5e72e4;
  --userfront-secondary-button-border-focus: 2px solid
    var(--userfront-secondary-button-border-focus-color);

  /* Box shadow for secondary button when hovered, active, focused */
  --userfront-secondary-button-box-shadow-active: 0 2px 8px 0
    rgba(0, 0, 0, 0.03);

  /* Logout button border */
  --userfront-logout-button-border: none;

  /* Hovered or active logout button border */
  --userfront-logout-button-border-active: none;

  /* Focused logout button border */
  --userfront-logout-button-border-focus-color: #5e72e4;
  --userfront-logout-button-border-focus: 3px solid
    var(--userfront-logout-button-border-focus-color);

  /* Box shadow for logout button when hovered, active, focused */
  --userfront-logout-button-box-shadow-active: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

  /* Background color for test mode banner */
  --userfront-test-mode-background-color: #ffda96;

  /* Height of the placeholder, if no flow is available to be shown */
  --userfront-placeholder-height: 300px;
}

/* Styles for a free-standing toolkit element */
.userfront-element {
  color: var(--userfront-text-color);
  font-family: var(--userfront-font-family);
  text-align: var(--userfront-alignment);
  font-size: var(--userfront-em-size);
}

/* Styles for the Storybook test background for components */
.userfront-test-background {
  margin: 0 auto;
  width: 100%;
  max-width: min-content;
}

/* Actual styles for container (separate from variable declarations for clarity and consistency) */
.userfront-container {
  color: var(--userfront-text-color);
  background-color: var(--userfront-background-color);
  border: var(--userfront-container-border);
  border-radius: var(--userfront-border-radius);
  box-shadow: var(--userfront-container-box-shadow);

  padding: var(--userfront-container-padding);
  margin: var(--userfront-container-margin);

  width: var(--userfront-container-width);
  max-width: var(--userfront-container-max-width);
  min-width: 150px;
  height: var(--userfront-container-height);
  max-height: var(--userfront-container-max-height);

  font-family: var(--userfront-font-family);
  text-align: var(--userfront-alignment);
  font-size: var(--userfront-em-size);
}

.userfront-container:hover,
.userfront-container:active,
.userfront-container:focus {
  box-shadow: var(--userfront-container-active-box-shadow);
}

/* Lists */
.userfront-toolkit ul {
  padding-left: 0;
  width: fit-content;
  margin: 0 auto;
}

/* Title text */
.userfront-toolkit h2 {
  font-size: var(--userfront-title-font-size);
  color: var(--userfront-title-text-color);
  margin-top: 0;
}

/* Form layout */
.userfront-form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: stretch;
  text-align: initial;
}

/* Form row: label + input group */
.userfront-form .userfront-form-row {
  margin-bottom: var(--userfront-spacing);
}

.userfront-form .userfront-form-row label {
  display: block;
  margin-left: 1px;
}

.userfront-form .userfront-form-row input {
  display: block;
  width: 100%;
}

/* Inline form row variant, with label on same line as input. */
/* Not used by default, but can remain available as an option. */
.userfront-form .userfront-form-row .userfront-form-row-inline {
  flex: 1 0 auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.userfront-form .userfront-form-row .userfront-form-row-inline label {
  flex: 0 1 40%;
}

.userfront-form .userfront-form-row .userfront-form-row-inline input {
  flex: 1 1 100%;
  align-self: flex-end;
}

/* Adjustments for small forms */
.userfront-small .userfront-form .userfront-form-row,
.userfront-tiny .userfront-form .userfront-form-row {
  flex-flow: column nowrap;
  align-items: stretch;
}

.userfront-small .userfront-form .userfront-form-row label,
.userfront-tiny .userfront-form .userfront-form-row label {
  flex: 1 0 auto;
}

.userfront-small .userfront-form .userfront-form-row input,
.userfront-tiny .userfront-form .userfront-form-row input {
  flex: 0 0 auto;
  align-self: stretch;
}

/* Text inputs */
.userfront-toolkit input.userfront-input {
  color: var(--userfront-input-text-color);
  background-color: var(--userfront-input-background-color);

  border: var(--userfront-input-border);
  border-radius: var(--userfront-border-radius);

  font-size: var(--userfront-input-font-size);
  line-height: calc(var(--userfront-input-font-size) * 2);

  padding: 0.25em 1em;
  max-width: calc(100% - 2em - 2px);
}

.userfront-toolkit input.userfront-input:hover,
.userfront-toolkit input.userfront-input:active {
  background-color: var(--userfront-input-background-color-active);
  border: var(--userfront-input-border-active);
}

.userfront-toolkit input.userfront-input:focus {
  background-color: var(--userfront-input-background-color-active);
  outline: var(--userfront-input-border-focus);
}

.userfront-toolkit input.userfront-input.userfront-has-error {
  border: var(--userfront-input-border-error);
}

.userfront-toolkit input.userfront-input::placeholder {
  color: var(--userfront-placeholder-color);
}

.userfront-toolkit input.userfront-input:hover::placeholder,
.userfront-toolkit input.userfront-input:active::placeholder {
  color: var(--userfront-placeholder-color-active);
}

/* Labels for text inputs */
.userfront-toolkit label {
  width: auto;
  text-align: var(--userfront-label-alignment);
  line-height: calc(var(--userfront-input-font-size) * 2);
  margin: 0 0.5em 0 0.5em;
  /* Ensure a minimum font size for labels, for accessibility */
  font-size: max(var(--userfront-label-font-size), 13px);
}

/* Secondary text - additional information for text inputs */
.userfront-toolkit .userfront-secondary-text {
  font-size: max(var(--userfront-label-font-size), 13px);
  color: var(--userfront-secondary-color-text);
  display: inline-block;
  margin-top: 0.5em;
}

/* Primary and secondary buttons */
.userfront-button {
  padding: var(--userfront-button-padding);
  font-size: var(--userfront-button-font-size);
  display: flex;
  justify-content: center;
  align-items: center;

  transition: border, color, background-color, box-shadow 0.1s ease-out;
}

.userfront-tiny .userfront-button {
  padding: calc(var(--userfront-button-padding) * 0.75);
}

/* Buttons are full width, top level items outside of a row */
:not(.userfront-button-row) .userfront-button {
  width: 100%;
  margin-bottom: var(--userfront-spacing);
}

.userfront-button:not(.userfront-button-subtle):hover:not(:disabled),
.userfront-button:not(.userfront-button-subtle):active:not(:disabled) {
  transform: var(--userfront-button-hover-transform);
}

/* Icon buttons */
.userfront-button .userfront-button-icon {
  width: var(--userfront-button-icon-size) !important;
  height: var(--userfront-button-icon-size) !important;
  color: var(--userfront-text-color);
}

.userfront-button .userfront-icon-button-content {
  flex: 0 0 auto;
  /* Experimentally determined: the smallest min-width so that all icon buttons are neatly organized */
  /* min-width: 12em; aligns buttons so that all icons are vertically aligned - which makes it look off center */
  min-width: 7em;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userfront-button .userfront-icon-button-content .userfront-button-icon {
  margin-right: var(--userfront-spacing);
}

/* Primary button */
.userfront-toolkit .userfront-button-primary {
  background-color: var(--userfront-primary-color);
  color: var(--userfront-primary-color-text);
  border: var(--userfront-primary-button-border);
  border-radius: var(--userfront-border-radius);
  cursor: pointer;
  line-height: 2;
  font-weight: 500;
}

.userfront-toolkit .userfront-button-primary:hover:not(:disabled),
.userfront-toolkit .userfront-button-primary:active:not(:disabled) {
  background-color: var(--userfront-primary-color-active);
  border: var(--userfront-primary-button-border-active);
  box-shadow: var(--userfront-primary-button-box-shadow-active);
}

.userfront-toolkit .userfront-button-primary:focus {
  background-color: var(--userfront-primary-color-focus);
  outline: var(--userfront-primary-button-border-focus);
  box-shadow: var(--userfront-primary-button-box-shadow-active);
}

/* Logout button */
.userfront-button.userfront-button-logout {
  background-color: var(--userfront-logout-color);
  color: var(--userfront-logout-color-text);
  border: var(--userfront-logout-button-border);
  border-radius: var(--userfront-border-radius);
  cursor: pointer;
  line-height: 2;
  font-weight: 500;
}

.userfront-button.userfront-button-logout:hover:not(:disabled),
.userfront-button.userfront-button-logout:active:not(:disabled) {
  background-color: var(--userfront-logout-color-active);
  border: var(--userfront-logout-button-border-active);
  box-shadow: var(--userfront-logout-button-box-shadow-active);
}

.userfront-button.userfront-button-logout:focus {
  background-color: var(--userfront-logout-color-focus);
  outline: var(--userfront-logout-button-border-focus);
  box-shadow: var(--userfront-logout-button-box-shadow-active);
}

.userfront-button.userfront-button-logout:disabled {
  background-color: var(--userfront-logout-color-disabled);
  cursor: not-allowed;
  box-shadow: none;
}

/* Secondary button */
.userfront-toolkit .userfront-button-secondary {
  background-color: var(--userfront-secondary-color);
  color: var(--userfront-secondary-color-text);
  border: var(--userfront-secondary-button-border);
  border-radius: var(--userfront-border-radius);
  cursor: pointer;
}

.userfront-toolkit .userfront-button-secondary:hover,
.userfront-toolkit .userfront-button-secondary:active {
  background-color: var(--userfront-secondary-color-active);
  border: var(--userfront-secondary-button-border-active);
  box-shadow: var(--userfront-secondary-button-box-shadow-active);
}

.userfront-toolkit .userfront-button-secondary:focus {
  background-color: var(--userfront-secondary-color-focus);
  outline: var(--userfront-secondary-button-border-focus);
  box-shadow: var(--userfront-secondary-button-box-shadow-active);
}

/* Subtle button */
.userfront-toolkit .userfront-button-subtle {
  font-size: var(--userfront-subtle-button-font-size);
  color: var(--userfront-link-color);
  text-decoration: underline;
  cursor: pointer;
  border: none;
  background-color: inherit;
}

.userfront-toolkit .userfront-button-subtle:focus {
  font-weight: bold;
}

/* Button row - multiple buttons on one row */
.userfront-toolkit .userfront-button-row {
  display: flex;
  flex-flow: row nowrap;
  column-gap: var(--userfront-spacing);
  margin-bottom: var(--userfront-spacing);
  justify-content: stretch;
}

.userfront-toolkit .userfront-button-row:last-child {
  margin-bottom: 0;
}

.userfront-toolkit .userfront-button-row > .userfront-button {
  flex: 1 1;
}

/* Secured by Userfront */
.userfront-toolkit .userfront-secured,
.userfront-toolkit .userfront-secured:visited {
  color: var(--userfront-secured-font-color);
  font-size: var(--userfront-secured-font-size);
  margin-right: var(--userfront-spacing);
  text-decoration: none;
}

.userfront-toolkit .userfront-secured:hover {
  text-decoration: underline;
}

.userfront-toolkit .userfront-secured .userfront-secured-icon {
  /* Hard-coded to 18px to preserve sharpness of the image. */
  width: 18px;
  height: 18px;
  margin-right: 0.3em;
  vertical-align: top;

  /* Adjust the image to the correct shade of gray */
  filter: contrast(20%);

  transform: 0.2s ease-in-out;
}

.userfront-toolkit .userfront-secured:hover .userfront-secured-icon {
  text-decoration: underline;
  filter: brightness(0) saturate(100%) invert(45%) sepia(10%) saturate(5443%)
    hue-rotate(201deg) brightness(96%) contrast(86%);
}

/* Dividers */

.userfront-divider {
  height: 1px;
  border-bottom: 1px solid var(--userfront-divider-color);
  margin-bottom: var(--userfront-spacing);
}

.userfront-divider-split {
  display: flex;
  flex-flow: row nowrap;
  justify-content: stretch;
  margin-bottom: var(--userfront-spacing);
  color: var(--userfront-secondary-color-text);
}

.userfront-divider-split .userfront-divider {
  flex: 1 1 auto;
  /* Experimentally determined 3px adjustment to center with text */
  height: calc(var(--userfront-em-size) / 2);
  margin-bottom: 0;
}

.userfront-divider-split .userfront-divider-text {
  flex: 0 0 auto;
  margin: 0 1em 0 1em;
  line-height: 1em;
}

/* Error message */

.userfront-error {
  margin-bottom: var(--userfront-spacing);
  border-radius: var(--userfront-border-radius);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.userfront-error.userfront-has-error {
  background-color: var(--userfront-error-background-color);
  padding: calc(var(--userfront-spacing) / 2);
  border: 1px solid var(--userfront-error-border-color);
}

.userfront-error .userfront-error-text {
  color: var(--userfront-error-color);
  display: block;
  flex: 0 1 auto;
}

/* Info message */
.userfront-info-message {
  margin-top: var(--userfront-spacing);
  margin-bottom: var(--userfront-spacing);
  border-radius: var(--userfront-border-radius);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.userfront-info-message.userfront-has-info-message {
  background-color: var(--userfront-info-background-color);
  padding: calc(var(--userfront-spacing) / 2);
  border: 1px solid var(--userfront-info-border-color);
}

.userfront-info-message .userfront-info-message-text {
  color: var(--userfront-info-color);
  display: block;
  flex: 0 1 auto;
}

/* Test mode notice */
.userfront-test-mode-notice {
  background-color: var(--userfront-test-mode-background-color);
  color: var(--userfront-text-color);
  padding: 0.25rem 2rem 0.25rem 2rem;
  margin: 0 auto;
  margin-top: 0.5rem;
  width: max-content;
  border-radius: var(--userfront-border-radius);
  font-size: 0.8em;
}

/* Placeholder for when we're loading form */
.userfront-toolkit .userfront-placeholder {
  height: var(--userfront-placeholder-height);
}
